<div id="container_main">

  <script>
      sync();
      $('#markdown').keyup(function () {
          sync();
      });
  </script>

  <%= form_for @article, :url => {:action => 'update'} do |f| %>

      <p>
        <%= f.hidden_field :uid, :value => @article.uid %>
        <%= f.hidden_field :id, :value => @article.id %>
      </p>

      <div class="cell">
        <div class="input-field">
          <%= f.text_field :title, id: 'title', :value => @article.title,class: 'validate' %>
          <label for="hoge">Title</label>
        </div>
        <%= f.text_area :article, id: 'markdown', :value => @article.article %>
        <%= f.submit 'save', class: 'btn' %>
      </div>

  <% end %>

  <div class="cell">
    <p id="preview"></p>
  </div>
</div>
