

<%= form_for @article, :url => {:action => 'update'} do |f| %>

    <p>
      <%= f.hidden_field :uid, :value => @article.uid %>
    </p>

    <p>
      <%= f.hidden_field :id, :value => @article.id %>
    </p>

    <p>
      <%= f.text_field :title, id: 'title', :value => @article.title %>
    </p>

    <div class="cell">
      <p>
        <%= f.text_area :article, id: 'markdown', :value => @article.article %>
      </p>

      <p>
        <%= f.submit 'save', class:'submit' %>
      </p>
    </div>

<% end %>

<div class="cell">
  <p id="preview"></p>
</div>

