<div id="container_main">
  <%= form_for @article do |f| %>

      <p>
        <%= f.hidden_field :uid %>
      </p>

      <script>
          sync();
          $('#markdown').keyup(function () {
              sync();
          });
      </script>

      <div class="cell">
        <div class="input-field">
          <%= f.text_field :title, id: 'title' %>
          <label for="hoge">Title</label>
        </div>
          <%= f.text_area :article, id: 'markdown' %>
        <%= f.submit 'save', class: 'btn' %>
      </div>
  <% end %>


  <div class="cell">
    <p id="preview"></p>
  </div>
</div>