<%= form_for @article do |f| %>

    <p>
      <%= f.hidden_field :uid %>
    </p>

    <p>
      <%= f.text_field :title, id: 'title' %>
    </p>

    <div class="cell">
      <p>
        <%= f.text_area :article, id: 'markdown' %>
      </p>

      <p>
        <%= f.submit 'save', class: 'submit' %>
      </p>

      <% end %>
    </div>

<div class="cell">
  <p id="preview"></p>
</div>